<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0114FAF91B7FD00E00B1499C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0114FB0D1B7FD00E00B1499C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0114FB181B7FD00E00B1499C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
