<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>019DE6A71B43867D0021524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>019DE6BB1B43867E0021524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>019DE6C61B43867E0021524C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
